@font-face {
    font-family: "Poppins", sans-serif;
    src: url(font/Poppins-Regular.ttf);
}

@font-face {
    font-family: "Poppins", sans-serif;
    src: url(font/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: "Poppins", sans-serif;
    src: url(font/Poppins-Bold.ttf);
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg);
    color: #fff;
    min-height: 20000px;
}

.Navbar {
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    background: rgba(255, 255, 255, 0.79);
    text-align: center;
    justify-content: space-between;
    position: fixed;
    z-index: 999 !important;
    box-sizing: border-box;
    padding: 8px 4%;
    border-bottom: 2px solid #bbd8ed;
    height: fit-content;
}

.Navbar .nav-item {
    align-items: center;
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
}

.Navbar .nav-item img {
    height: 50px;
    width: auto;
    margin: 0;
}

.Navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: rgba(255, 255, 255, 0.79);
    width: 250px;
    height: 100vh;
    transition: 0.3s;
}

.Navbar .navbar-nav.active {
    right: 0;
}

.Navbar .navbar-nav a {
    color: var(--primary);
    display: block;
    font-size: 24px;
    margin: 1.5rem;
    padding: 8px;

}

.Navbar .navbar-nav a:hover {
    color: #fff;
}

.Navbar .navbar-nav a::after {
    content: '';
    display: block;
    padding-bottom: 8px;
    border-bottom: 0.1rem solid var(--primary);
    transform: scaleX(0);
    transition: 0.2s linear;
}

.Navbar .navbar-nav a:hover::after {
    transform: scaleX(0.5);
}

.Navbar .nav-extra {
    align-items: center;
    justify-content: center;
}

.Navbar .nav-extra a {
    color: var(--primary);
    margin: 0 10px;
    align-items: center;
}

.Navbar .nav-extra a:hover {
    color: #fff;
}

.wrapper i {
    top: 50%;
    height: 46px;
    width: 46px;
    position: absolute;
    font-size: 1.2rem;
    color: black;
    text-align: center;
    line-height: 46px;
    background: #fff;
    border-radius: 50%;
    transform: translateY(-50);
}

.wrapper i:first-child {
    left: -23px;
}

.wrapper i:last-child {
    right: -23px;
}

.wrapper .carousel {
    white-space: nowrap;
    font-size: 0px;
    overflow: hidden;
}

.carousel img {
    height: 340px;
    width: 300px;
    object-fit: cover;
    margin-left: 14px;
    padding-top: 50px;
}

/* Zeus Section*/
.zeus {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url('../img/frontpagezeus.png');
    background-repeat: no-repeat;
}