@font-face {
    font-family: "Poppins", sans-serif;
    src: url(font/Poppins-Regular.ttf);
}

@font-face {
    font-family: "Poppins", sans-serif;
    src: url(font/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: "Poppins", sans-serif;
    src: url(font/Poppins-Bold.ttf);
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg);
    color: #fff;
}

.Navbar {
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    cursor: pointer;
    background: #fff;
    text-align: center;
    justify-content: space-between;
    position: fixed;
    z-index: 999 !important;
    box-sizing: border-box;
    padding: 8px 4%;
    border-bottom: 2px solid #bbd8ed;
    height: fit-content;
}

.Navbar .nav-item {
    align-items: center;
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
}

.Navbar .nav-item img {
    height: 50px;
    width: auto;
    margin: 0;
}

.Navbar .navbar-nav-desktop {
    display: none;
}

.Navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: rgba(255, 255, 255, 0.79);
    width: 200px;
    height: 100vh;
    transition: 0.3s;
}

.Navbar .navbar-nav.active {
    right: 0;
}

.Navbar .navbar-nav a {
    color: var(--primary);
    display: block;
    font-size: 24px;
    margin: 1.5rem;
    padding: 8px;

}

.Navbar .navbar-nav a:hover {
    color: var(--bg);
}

.Navbar .navbar-nav a::after {
    content: '';
    display: block;
    padding-bottom: 8px;
    border-bottom: 0.1rem solid var(--primary);
    transform: scaleX(0);
    transition: 0.2s linear;
}

.Navbar .navbar-nav a:hover::after {
    transform: scaleX(0.5);
}

.Navbar .nav-extra {
    align-items: center;
    justify-content: center;
    padding-top: 15px;
}

.Navbar .nav-extra a {
    color: var(--primary);
    margin: 0 10px;
    align-items: center;
}

.Navbar .nav-extra a:hover {
    color: var(--bg);
}

/* Zeus Section*/

.zeus {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url('/Week 5/week-5-Kartikancil96/img/halaman-depan.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.zeus::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(1, 1, 3, 1) 3%, rgba(255, 255, 255, 0) 25%);
}

.zeus .content {
    padding: 8px 4%;
    min-width: 20rem;
}

.zeus .content h1 {
    font-size: 1.4em;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    line-height: 1.2;
    mix-blend-mode: difference;
}

.zeus .content h1 span {
    color: var(--primary);
}

.zeus .content p {
    font-size: 1rem;
    margin-top: 1rem;
    line-height: 1.4;
    font-weight: 100;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    mix-blend-mode: difference;
}

/* About us Section*/
.about {
    padding: 2.5rem 4% 1.4rem;
}

.about h2 {
    font-size: 1.1rem;
    margin-bottom: 1rem;
    font-weight: 700;
    padding-left: 11.7708px;
    object-fit: cover;

}

.about h2 span {
    color: var(--primary);
}

.about .row {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    align-content: center;
    justify-content: space-around;
}

.about .row .content {
    flex: 1 1 17rem;
    padding: 0 1rem;
}

.about .row .content h3 {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.about .row .content p {
    margin-bottom: 0.8rem;
    font-size: 14px;
    font-weight: 100;
    text-align: justify;
    line-height: 1.6;
}

.about .row .content .cta {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
    background-color: var(--primary);
    border-radius: 5%;
}

.about .row .pakdir {
    flex: 1 1 14rem;

}

.about .row .pakdir img {
    width: 100%;
    padding: 0 4%;
}

.about .row .pakdir figcaption {
    font-size: 12px;
    text-align: center;
    padding: 8px 13%;
}


/* bisnis Section*/
.bisnis {
    padding: 12rem 4% 1.4rem;
}

.bisnis h2 {
    font-size: 1.1rem;
    margin-bottom: 1rem;
    font-weight: 700;
    padding-left: 11.7708px;
    object-fit: cover;
}

.bisnis h2 span {
    color: var(--primary);
}

.bisnis p {
    margin-bottom: 0.8rem;
    font-size: 14px;
    font-weight: 100;
    text-align: justify;
    line-height: 1.4;
    padding: 1rem;
}

.bisnis .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2rem;
    justify-content: center;
}

.bisnis .row .bisnis-card img {
    width: 294.42px;
    height: 206.9px;
    padding: 8px 4%;
    margin: 0 1rem
}

.bisnis .row .bisnis-card figcaption {
    text-align: center;
    font-size: 12px;
}


/* berita Section*/

.news {
    padding: 2.5rem 4% 1.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.news h2 {
    font-size: 1.1rem;
    margin-bottom: 1rem;
    font-weight: 700;
    padding-left: 11.7708px;
    object-fit: cover;
}

.news .topik img {
    display: flex;
    width: 100%;
    height: auto;
    padding: 8px 4%;
    justify-content: center;
    object-fit: cover;
}

.news .topik p {
    font-size: 14px;
    text-align: center;
}

/* galery Section*/

.galery {
    padding: 2.5rem 4% 1.4rem;
}

.galery .slider-wrapper .slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.galery .slider-wrapper .slider {
    display: flex;
    aspect-ratio: 16/9;
    overflow: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;

}

.galery .slider-wrapper .slider-nav {
    display: flex;
    column-gap: 1rem;
    position: relative;
    bottom: 1.25rem;
    left: 50%;
    padding-bottom: 30px;
    cursor: pointer;
    justify-content: center;
    transform: translateX(-50%);
    z-index: 1;
}

.galery .slider-wrapper .slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

/* kontak Section*/

.kontak h2 {
    font-size: 1.1rem;
    margin-bottom: 1rem;
    font-weight: 700;
    padding-left: 11.7708px;
    object-fit: cover;
}

.kontak h2 span {
    color: var(--primary);
}

.kontak p {
    margin-bottom: 0.8rem;
    font-size: 14px;
    font-weight: 100;
    text-align: justify;
    line-height: 1.4;
    padding: 0 1rem;
}

.kontak .row {
    display: flex;
    margin-top: 1.5rem;
    background-color: #222;
    flex-wrap: wrap-reverse;
}

.kontak .row .maps {
    flex: 1 1 25rem;
    width: 100%;
    object-fit: cover;
}

.kontak .row form {
    flex: 1 1 35rem;
    padding: 5rem 2rem;
    text-align: center;
}

.kontak .row form .input-group {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    background-color: var(--bg);
    border: 1px solid #eee;
    padding-left: 2rem;
}

.kontak .row form .input-group input {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.1rem;
    background: none;
    color: #fff;
}

.kontak .row form .btn {
    margin-top: 3rem;
    display: inline-block;
    padding: 1rem 2rem;
    font-size: 1.1rem;
    color: #fff;
    cursor: pointer;
    background-color: var(--primary);
    border-radius: .05rem;
}

/* Footer Section*/

footer {
    background-color: #fff;
    object-fit: cover;
}

footer .distributor h4 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--bg);
    font-size: 16px;
    font-weight: 700;
    text-align: center;

}

.container .distributor {
    white-space: nowrap;
    font-size: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 8px 4%;
    padding-top: 20px;
    align-items: center;

}

.container .distributor a {
    align-items: center;
}

.container .distributor a img {
    height: auto;
    width: 100%;
    padding: 10px 20px;
    justify-content: center;
    align-content: center;
    object-fit: cover;

}

.distributor img {
    width: 310px;

}

footer .row {
    display: flex;
    justify-content: center;
}

footer .row img {
    width: 300px;
    height: auto;
    align-c: center;
    justify-content: center;
}

footer .row .logo-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 4%;
}

footer h5 {
    color: var(--bg);
    padding: 8px 4%;
    font-weight: 700;
    text-align: center;
}

footer ul {
    padding: 8px 4%;
    line-height: 25px;
}

footer p {
    color: var(--bg);
}

footer .copyright {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0 4% 30px;
    object-fit: cover;

}