@media only screen and (min-width: 768px) {
    html {
        font-size: medium;
    }

    .zeus .content h1 {
        font-size: 1.8em;
    }

    .zeus .content p {
        font-size: 1.4rem;

    }


    /* about Section*/

    .about h2 {
        font-size: 1.6rem;
        margin-bottom: 1rem;
        font-weight: 700;
        padding-left: 0px;
        text-align: center;
    }

    .about .row .content {
        padding: 0px 28.26024px;
    }

    /* bisnis Section*/

    .bisnis {
        padding: 5rem 4% 1.4rem;
    }

    .bisnis h2 {
        text-align: center;
        font-size: 1.6rem;
    }

    .bisnis p {
        font-size: 1rem;
    }

    /* news section*/
    .news .topik img {
        width: 100%;
        height: auto;
        padding: 8px 4%;
        object-fit: cover;
    }

    /* kontak Section*/

    .kontak h2 {
        text-align: center;
        font-size: 1.6rem;
    }

    .kontak p {
        font-size: 1rem;
        text-align: center;
    }

    /* footer Section*/

    .container .distributor {
        white-space: nowrap;
        font-size: 0px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 8px 4%;

    }

    .distributor {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-content: space-between;
    }

    .distributor h4 {
        font-size: 30px;
        padding-top: 0px;
        padding-right: 10px;
    }

    .container .distributor a img {
        height: auto;
        width: 100%;
        padding: 10px 20px;
        align-items: center;
        justify-content: center;
        align-content: center;
        object-fit: cover;

    }

    footer .row img {
        width: 220px;
        height: auto;
        align-c: center;
        justify-content: center;
        padding-right: 20px;
        padding-top: 0;
    }

    footer .row .logo-footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    }

}

@media only screen and (min-width: 1024px) {

    html {
        font-size: larger;
    }

    .hamburger {
        display: none;
    }

    .Navbar .navbar-nav-desktop {
        display: inline-block;
    }

    .Navbar .navbar-nav-desktop a {
        display: inline-block;
        padding-top: 15px;
    }

    .Navbar .navbar-nav-desktop a {
        color: var(--primary);
        display: inline-block;
        font-size: 20px;
        margin: 0 16px;
        background-position-x: .navbar-nav;
    }

    .Navbar .navbar-nav-desktop a:hover {
        color: var(--bg);
    }

    .Navbar .navbar-nav-desktop a::after {
        content: '';
        display: block;
        padding-bottom: 8px;
        border-bottom: 0.1rem solid var(--primary);
        transform: scaleX(0);
        transition: 0.2s linear;
    }

    .Navbar .navbar-nav-desktop a:hover::after {
        transform: scaleX(0.5);
    }

    .Navbar .nav-extra {
        padding-top: 15px;
    }

    /* Zeus Section*/
    .zeus {
        min-height: 100vh;
        display: flex;
        align-items: center;
        background-image: url('/Week 5/week-5-Kartikancil96/img/halaman-depan.png');
        background-repeat: no-repeat;
    }

    .zeus .content h1 {
        font-size: 2.4em;

    }

    /* about Section*/

    .about {
        padding: 2.5rem 4% 1.61rem;
    }

    .about h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
        font-weight: 700;
        padding-left: 19.2px;
    }

    .about .row {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .about .row .content {
        flex: 1 1 35rem;
        padding: 0 1rem;
    }

    .about .row .content h3 {
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    .about .row .content p {
        margin-bottom: 0.8rem;
        font-size: 1rem;
        font-weight: 100;
        text-align: justify;
        line-height: 1.6;
    }

    .about .row .content .cta {
        margin-top: 1rem;
        display: inline-block;
        padding: 1rem 3rem;
        font-size: 1rem;
        color: #fff;
        background-color: var(--primary);
        border-radius: 5%;
    }

    .about .row .pakdir {
        flex: 1 1 45rem;

    }

    .about .row .pakdir img {
        width: 100%;
    }

    .about .row .pakdir figcaption {
        font-size: 14px;
        text-align: center;
        padding: 8px 13%;
    }


    /* bisnis section*/

    .bisnis .row .bisnis-card img {
        width: 248.42px;
        height: 196.9px;
        padding: 0px 0%;
        margin: 20px 1rem
    }

    /* kontak section*/

    .kontak .row {
        display: flex;
        margin-top: 2rem;
        background-color: #222;
        flex-wrap: nowrap;
    }

    .kontak .row .maps {
        flex: 1 1 45rem;
        width: 100%;
        object-fit: cover;
    }

    .kontak .row form {
        flex: 1 1 45rem;
        padding: 5rem 2rem;
        text-align: center;
    }

    .kontak .row form .input-group {
        display: flex;
        align-items: center;
        margin-top: 2rem;
        background-color: var(--bg);
        border: 1px solid #eee;
        padding-left: 2rem;
    }

    .kontak .row form .input-group input {
        width: 100%;
        padding: 2rem;
        font-size: 1.7rem;
        background: none;
    }




    /* footer*/
    .container .distributor {
        white-space: nowrap;
        font-size: 0px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 8px 4%;

    }

    .distributor {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-content: space-between;
    }

    .distributor h4 {
        font-size: 30px;
        padding-top: 20px;
        padding-right: 30px;
    }

    .container .distributor a img {
        height: auto;
        width: 100%;
        padding: 10px 20px;
        align-items: center;
        justify-content: center;
        align-content: center;
        object-fit: cover;

    }

}

@media only screen and (min-width: 1440px) {
    html {
        font-size: 150%;
    }

    .container .distributor {
        white-space: nowrap;
        font-size: 0px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 8px 4%;
        object-fit: cover;

    }

    .distributor {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-content: space-between;
    }

    .distributor h4 {
        font-size: 30px;
        padding-top: 20px;
        padding-right: 30px;
    }

    .container .distributor a img {
        height: auto;
        width: 100%;
        padding: 10px 20px;
        align-items: center;
        justify-content: center;
        align-content: center;
        object-fit: cover;

    }


}